.list {
  border: 1px solid #000;
  border-left: 4px solid #6cdf77;
  width: 326px;
  height: 125px;
  padding: 25px;
}
.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #010c02;
}

.heading {
  font-family: "Saira";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 63px;
  color: #6cdf77;
}
@media (max-width: 768px) {
  .list {
    text-align: center;
    border-top: 3px solid #6cdf77;
    border-left:1px solid #000 ;
  }
}
