.listWrapper {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #060c3c;
}
.content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #5d6180;
}
@media only screen and (max-width: 768px) {
  .title {
    font-size: 24px;
  }
  .content {
    font-size: 14px;
  }
}
