/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* overlay */
.overlay {
  position: relative;
  height: 355px;
  padding: 30px;
  border-radius: 5px;
  /* background */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* details */
.details {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(#1a488e00, #1a488e);
}

/* interval */
.interval {
  position: relative;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

/* position */
.position {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

/* company */
.company {
  display: block;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}
