/* social */
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #060c3c;
  transition: all 0.5s ease;
}

.social:hover {
  transform: scale(1.2);
}

/* social icon */
.social > svg {
  font-size: 1rem;
  color: #060c3c;
}
