/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* blog */
.blog {
  padding: 20px;
  border-radius: 5px;
  /* background */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* tag */
.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #ffffff;
}

/* tag line */
.tag::before {
  content: "";
  width: 30px;
  height: 1px;
  /* spacer */
  background-color: #ec100d;
}

/* title */
.title {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

/* subTitle */
.subTitle {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  line-height: 1.8rem;
}

/* info */
.info {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.info > span {
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

.info > span:first-child {
  color: #ec100d;
}

/* author */
.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

/* avatar */
.avatar {
  width: 50px;
  height: 50px;
  /* background  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

/* avatar text */
.avatarText {
  font-size: 0.7rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

/* name */
.name {
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

/* position */
.position {
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 576px) {
  .info {
    flex-direction: column;
  }
}
